<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeyLoan</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/spacelab.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    {{> header}}
    
    {{{ body }}}

    <!-- JS do Bootstrap 5 (com Popper) -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    
    <footer class="bg-body-tertiary text-center fixed-bottom">
        <div class="bg-lg bg-dark text-center text-light py-1">
            <p style="margin-top: 10px;">TI Noturno 2-23</p>
        </div>
    </footer>    
</body>

</html>