    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
        KeyLoan
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="#">Empréstimo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cadastro Reserva</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled text-light" href="#">Cadastro Chave</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cadastro Usuário</a>
            </li>
        </ul>
    </nav>
    <main class="container">
        <form action="/chave/add" method="POST" class="mb-3 mx-auto">
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="inputChaveID">ID da Chave</label>
                <input type="email" class="form-control" id="inputChaveID" placeholder="Sigla da Chave">
              </div>
              <div class="form-group col-md-6">
                <label for="inputDescricao">Descrição</label>
                <input type="password" class="form-control" name="titulo" placeholder="Descrição">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="inputEstado">Estado</label>
                  <select id="inputEstado" class="form-control">
                    <option selected value="chaveAtiva">Ativo</option>
                    <option value="chaveInativa">Inativo</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputReserva">Permite Reserva?</label>
                  <select id="inputReserva" class="form-control">
                    <option selected value="skey">Sim</option>
                    <option value="nkey">Não</option>
                  </select>
                </div>
            </div>
            <button type="button" class="btn btn-secondary btn-sm" id="btnCancelar">CANCELAR</button>
            <button type="button" class="btn btn-primary btn-sm">GRAVAR</button>
            
        </form>
    </main>
    <footer class="footer navbar-fixed-bottom">
        <div class="bg-dark text-center text-light py-3">
          <p>TI Noturno 2-23</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>