<a class="navbar-brand" href="#">
  KeyLoan - {{#if chave}}Editar Chave{{else}}Cadastrar Chave{{/if}}
</a>

<main class="container">
  <form action={{formAction}} method="POST" class="mb-3 mx-auto">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="titulo">Título</label>
        <input type="text" class="form-control" name="titulo" value="{{chave.titulo}}">
      </div>
      <div class="form-group col-md-6">
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" name="descricao" value="{{chave.descricao}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="status_chave">Estado</label>
        <select name="status_chave" class="form-control">
          <option {{#ifCond chave.status_chave '==' "ATIVO"}}selected{{/ifCond}} value="ATIVO">ATIVO</option>
          <option {{#ifCond chave.status_chave '==' "INATIVO"}}selected{{/ifCond}} value="INATIVO">INATIVO</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="permite_reserva">Permite Reserva?</label>
        <select name="permite_reserva" class="form-control">
          <option {{#ifCond chave.permite_reserva '==' "SIM"}}selected{{/ifCond}} value="SIM">SIM</option>
          <option {{#ifCond chave.permite_reserva '==' "NÃO"}}selected{{/ifCond}} value="NÃO">NÃO</option>
        </select>
      </div>
    </div>
    <a href="/chaves" class="btn btn-secondary btn-sm">CANCELAR</a>
    <button type="submit" class="btn btn-primary btn-sm">GRAVAR</button>
  </form>
</main>

